{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "arrowFunctions":true,
      "objectLiteralShorthandMethods": true,
      "modules": true,
      "objectLiteralShorthandProperties": true,
      "restParams": true,
      "forOf": true,
      "experimentalObjectRestSpread": true,
      "templateStrings": true,
      "superInFunctions": true
    }
  },
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": 0,
    "no-console": 0,
    "no-undef": 0
  }
}